* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  background: rgb(219,218,213);
  background: linear-gradient(0deg, rgba(219,218,213,1) 85%, rgba(15,149,138,1) 85%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 90vh;
  width: 80vw;
  background-color: transparent;

  display: flex;
  justify-content: center;
}

/* LEFT SIDE*/
/* CHAT LIST */
.chat-list {
  width: 50%;
  height: 100%;
  background-color: #FFF;
}

/* USER NAV*/
.user-nav{
  height: 70px;
  background-color: #EAEAEA;
  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-info p {
  font-size: 16px;
  font-weight: 500;
}

.user-nav-controls i {
  padding-left: 10px;
  color: #B1B1B1;
  cursor: pointer;
}

/* NOTIFICATIONS */
.chat-list-notif {
  height: 80px;
  background-color: #8EDAFC;
  padding: 0 10px;

  display: flex;
  align-items: center;
}

.chat-list-notif .notif-icon {
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  padding: 15px 15px;
  margin-right: 10px;
}

.chat-list-notif .notif-icon i {
  color: #81E1FF;
  font-size: 20px;
}

.notif-text h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3px;
}

.notif-text p {
  font-size: 12px;
  color: #758B98;
  text-decoration: underline;
  cursor: pointer;
}

/* SEARCH BAR */
.search-bar {
  height: 50px;
  background-color: #F9F9FB;

  display: flex;
  align-items: center;
}
.search-text {
  width: 100%;
  height: 100%;
  padding: 0 10px;

  display: flex;
  align-items: center;
}
.search-text input {
  width: 100%;
  height: 60%;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  font-weight: lighter;
}

.search-text input:focus {
  border-color: rgba(150, 103, 70, 0.8);
  box-shadow: 0 1px 1px rgba(30, 103, 200, 0.075) inset, 0 0 8px rgba(30, 103, 200, 0.6);
  outline: 0 none;
}
/* CHAT LIST CONTACTS */
.contact-list {
  width: 100%;
  height: calc(100% - 70px - 80px - 50px);
  border-top: 1px solid lightgrey;
  overflow-y: scroll;
}

.contact-list ul {
  list-style: none;
}

.contact-list ul  li:hover{
  cursor: pointer;
}

.list-wrapper {
  padding: 15px 15px;
  height: 80px;
  border-bottom: 1px solid lightgrey;

  display: flex;
}
.image-box {
  align-self: center;
}
.image-box img {
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.info-box {
  width: 100%;
}
.contact-name {
  font-weight: 500;
}
.info-box p {
  font-size: 14px;
  color: #B1B1B1;
}
.f-right {
  float: right;
  font-size: 13px;
  color: #B1B1B1;
}
.f-right:after {
  content: '';
  display: table;
  clear: both;
}
/* RIGHT SIDE*/
/* CHAT TEXT */
.chat-text {
  width: 70%;
  height: 100%;
}
/* CURRENT CONTACT NAV */
.current-contact-nav {
  height: 70px;
  background-color: #EAEAEA;
  padding: 0 10px;
  border-left: 1px solid lightgrey;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messenger {
  display: flex;
  align-items: center;
}
.messenger i {
  padding-right: 10px;
  color: #B1B1B1;
  cursor: pointer;
}
.current-contact-nav .messenger img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-text-controls i {
  padding-left: 10px;
  color: #B1B1B1;
  cursor: pointer;
}

.messenger-info p {
  font-size: 14px;
  color: #B1B1B1;
}
/* CHAT AREA CONTENT */
.chat-area {
  height: calc(100% - 70px - 80px);
  background-image: url('../img/mine.jpg');
  background-size: auto;
  background-position: center;
  overflow-y: scroll;
  padding: 50px 70px;

  display: flex;
  flex-direction: column;
}
.message {
  width: 300px;
  height: auto;
  position: relative;
  padding: 10px 30px 20px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-wrap: break-word;
}
.message-time i {
  padding-left: 3px;
  color: #31B2E9;
}
.message.received {
  background-color: white;
}

.message.sent {
  align-self: flex-end;
  background-color: #D5F9BA;
}

.message-time {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  color: grey;
}
.fa-chevron-down {
  color: #B1B1B1;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 15%;
  padding-left: 20px;
}
.message:hover .fa-chevron-down{
  display: inline-block;
}
.message-dropdown {
  display: none;
  position: absolute;
  top: 60%;
  right: 5%;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
}
.message-dropdown.open {
  display: block;
}
.message-info,
.message-delete {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 10px 15px;
}

.message-info:hover, .message-delete:hover {
  background-color: #ddd;
}
.message-delete {
  cursor: pointer;
}
/* NEW MESSAGE */
.new-message {
  height: 80px;
  background-color: #EAEAEA;
  border-left: 1px solid lightgrey;

  display: flex;
  justify-content: center;
  align-items: center;
}
.new-message-icon-left {
  width: 10%;
  text-align: center;
}
.text-area-box {
  width: 80%;
}
.text-area {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  padding: 15px;
  border: 0;
  border-radius: 20px;
  font-size: 14px;
  font-weight: lighter;
}
.text-area:focus {
  border-color: rgba(150, 103, 70, 0.8);
  box-shadow: 0 1px 1px rgba(30, 103, 200, 0.075) inset, 0 0 8px rgba(30, 103, 200, 0.6);
  outline: 0 none;
}
.new-message-icon-right {
  width: 10%;
  text-align: center;
}

.new-message i {
  padding-left: 10px;
  color: #6D7081;
  cursor: pointer;
  font-size: 25px;
}

.active {
  background-color: #f4f5f5;
}
/* MEDIA QUERIES */
@media all and (max-width: 768px) {
  .chat-area {
    padding: 30px 10px;
  }
  .chat-text-controls {
    width: 40%;
  }
  .message {
    width: 250px;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .left, .right {
    width: 100%;
    height: 100%;
  }
  .new-message i {
    padding-left: 0;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {

  .left, .right {
    width: 100%;
    height: 100%;
  }
  .chat-area {
    padding: 30px 30px;
  }
  .message {
    width: 300px;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  .left, .right {
    width: 65%;
    height: 100%;
  }
  .chat-area {
    padding: 30px 30px;
  }
  .message {
    width: 300px;
  }

}
